@keyframes project-card__showing {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.1);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.project-card__moving {
  transform: translate(-50%, -50%);
}

.project-card:not(:hover) {
  overflow: hidden;
  .project-card__moving {
    opacity: 0;
  }
}

.project-card:hover {
  .project-card__hero {
    visibility: hidden;
  }
  .project-card__moving {
    animation: project-card__showing 500ms ease-in-out;
  }
}
