:root {
  --card-collapsed-size: 260px;
  --card-full-size: 320px;
}
.project-card {
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}
.project-card__hero {
  border-radius: 10%;
  width: var(--card-collapsed-size);
  height: var(--card-collapsed-size);
}
.project-card__content {
}
.project-card:not(:hover) {
  width: var(--card-collapsed-size);
  height: var(--card-collapsed-size);
  padding: 10px;
  border-radius: 10%;
  .project-card__content {
    display: none;
  }
}
.project-card:hover {
  position: absolute;
  width: var(--card-full-size);
  height: var(--card-full-size);
  .project-card__hero {
    display: none;
  }
}
.project-card__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
