:root {
  --card-collapsed-size: 220px;
  --card-full-size: 400px;
  --dialog-gif-size: 640px;
  --displacement: calc(
    (var(--card-collapsed-size) - var(--card-full-size)) / 2
  );
}

.project-card {
  position: relative;
  width: var(--card-collapsed-size);
  height: var(--card-collapsed-size);

  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.project-card__hero {
  border-radius: 20px;
  width: var(--card-collapsed-size);
  height: var(--card-collapsed-size);
}

.project-card__moving {
  z-index: 1;
  border-radius: 20px;
  width: var(--card-full-size);
  position: absolute;
  top: -50px;
  left: -85px;
  transition: all 0.5s;
  transform-origin: center;
}

.project-card:not(:hover) {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  .project-card__moving {
    visibility: hidden;
    transform: scale(0.5);
    opacity: 0;
  }
}

.project-card:hover {
  .project-card__hero {
    visibility: hidden;
  }
  .project-card__moving {
    transform: scale(1);
    opacity: 1;
  }
}

.project-card__dialog {
  width: min-content;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}
.project-card__dialog--content {
  padding: 10px;
  p {
    margin: 0;
  }
}
.project-card__links {
  display: flex;
  justify-content: space-between;
  .GH-link * {
    width: 32px;
    height: 32px;
  }
}

.project-card__dialog::backdrop {
  backdrop-filter: blur(5px);
}

.project-card__show {
  width: var(--dialog-gif-size);
}
