---
import './index.css'

import Layout from '../layouts/Layout.astro'

import NotFinished from '../layouts/NotFinished.astro'

import Header from '../layouts/Header.astro'
import About from '../layouts/About.astro'
import HardSkillsLayout from '../layouts/HardSkillsLayout.astro'
import Resume from '../layouts/Resume.astro'
import Projects from '../layouts/Projects.astro'
import Footer from '../layouts/Footer.astro'
---

<NotFinished />
<Layout title="Portfolio">
  <Header />
  <main>
    <About />
    <HardSkillsLayout />
    <Resume />
    <Projects />
  </main>
  <Footer />
</Layout>
