---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Bonjour, je suis <span class="text-gradient">Clément Pivot</span></h1>
    <div class="picture__mask">
      <img
        class="picture__profile"
        alt="Mon portrait"
        src="../../public/photo_pro.jpg"
      />
    </div>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
  </main>
</Layout>

<style>
  :root {
    --profile-picture-size: 260px;
  }
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
  .picture__mask {
    width: var(--profile-picture-size);
    height: var(--profile-picture-size);
    min-width: var(--profile-picture-size);
    border-radius: 25%;
    overflow: hidden;
    .picture__profile {
      width: var(--profile-picture-size);
      height: var(--profile-picture-size);
      /* transform-origin: top; */
      /* transform: scale(1.5); */
    }
  }
</style>
