---
import { ProjectCard } from '../components/ProjectCard/index.tsx'
import Layout from '../layouts/Layout.astro'
import projects from '../../public/projects.json'
import cursus from '../../public/cursus.json'
import CursusCard from '../components/CursusCard.astro'
import Contact from '../layouts/Contact.astro'
import 'bootstrap/dist/css/bootstrap.css'
import NotFinished from '../layouts/NotFinished.astro'
import SoftSkillCard from '../components/SoftSkillCard.astro'

const age =
  new Date(
    new Date().getTime() - new Date(1992, 12, 5).getTime()
  ).getFullYear() - 1970
---

<NotFinished />
<Layout title="Portfolio">
  <header class="d-flex align-items-center flex-column container-fluid">
    <h1 class="text-center my-5">
      Bonjour, je suis <br />
      <span class="text-gradient">Clément Pivot</span>
      <br />développeur web
    </h1>
    <div class="hero justify-content-center align-items-center container-fluid">
      <a href="https://github.com/malfeitor/" target="_blank">
        <img src="icons/github.svg" alt="Mon profil GitHub" class="icon" />
      </a>
      <div class="picture__profile">
        <img alt="Mon portrait" src="./photo_pro.jpg" />
      </div>
      <a href="https://www.linkedin.com/in/clement-pivot/" target="_blank">
        <img src="icons/linkedin.svg" alt="Mon profil Linkedin" class="icon" />
      </a>
    </div>
  </header>
  <main>
    <div id="about-me">
      <h2 class="categorie">À propos de moi</h2>
      <p class="description col-8 mx-auto">
        <div class="container d-flex mx-auto justify-content-evenly row">
          <SoftSkillCard icon="icons/lightbulb.svg" name="Autonome" />
          <SoftSkillCard icon="icons/thumbstack.svg" name="Persévérant" />
          <SoftSkillCard
            icon="icons/bugslash.svg"
            name="Résolution de problèmes"
          />
        </div>
        Depuis le lycée l'informatique me passionne et j'ai commencé par suivre les
        cours du Site du Zéro pour apprendre le C++. À {age} ans, je suis actuellement
        en train d'obtenir mon diplôme de développeur React d'OpenClassrooms. Suite
        à un BTS Services Informatiques aux Organisations, j'ai acquéri diverses
        compétences en développement.
        <!-- Développeur informatique polyvalent spécialisé en création d’applications
        web surtout en React. Compétent dans les technologies front-end modernes
        et passionné par la création d’expériences utilisateurs fluides et interactives.
        -->
      </p>
    </div>
    <div id="my-skills" class="container">
      <h2 class="categorie">Mes compétences</h2>
      <div class="row">
        <div class="highlight col-md-8 col-sm-12">
          <p class="list-name">Front-End</p>
          <ul class="description">
            <li class="skill">
              <img src="icons/html.svg" alt="" class="icon" />
              <span class="skill-name">HTML5</span>
              <span class="skill-level">Avancé</span>
            </li>
            <li class="skill">
              <img src="icons/css.svg" alt="" class="icon" />
              <span class="skill-name">CSS3</span>
              <span class="skill-level">Avancé</span>
            </li>
            <li class="skill">
              <img src="icons/Javascript.svg" alt="" class="icon" />
              <span class="skill-name">Javascript</span>
              <span class="skill-level">Avancé</span>
            </li>
            <li class="skill">
              <img src="icons/Typescript.svg" alt="" class="icon" />
              <span class="skill-name">TypeScript</span>
              <span class="skill-level">Moyen</span>
            </li>
            <li class="skill">
              <img src="icons/react.svg" alt="" class="icon" />
              <span class="skill-name">React</span>
              <span class="skill-level">Avancé</span>
            </li>
            <li class="skill">
              <img src="icons/redux.svg" alt="" class="icon" />
              <span class="skill-name">Redux</span>
              <span class="skill-level">Bases</span>
            </li>
            <li class="skill">
              <img src="icons/zustand.png" alt="" class="icon" />
              <span class="skill-name">Zustand</span>
              <span class="skill-level">Moyen</span>
            </li>
            <li class="skill">
              <img src="icons/d3.svg" alt="" class="icon" />
              <span class="skill-name">D3js</span>
              <span class="skill-level">Moyen</span>
            </li>
            <li class="skill">
              <img src="icons/framer-motion.svg" alt="" class="icon" />
              <span class="skill-name">Framer-Motion</span>
              <span class="skill-level">Bases</span>
            </li>
            <li class="skill">
              <img src="icons/bootstrap.svg" alt="" class="icon" />
              <span class="skill-name">Bootstrap</span>
              <span class="skill-level">Moyen</span>
            </li>
            <li class="skill">
              <img src="icons/sass.png" alt="" class="icon" />
              <span class="skill-name">SASS</span>
              <span class="skill-level">Moyen</span>
            </li>
            <li class="skill">
              <img src="icons/figma.svg" alt="" class="icon" />
              <span class="skill-name">Figma</span>
              <span class="skill-level">Moyen</span>
            </li>
          </ul>
        </div>
        <div class="highlight col-md-4 col-sm-12">
          <p class="list-name">Autres</p>
          <ul class="description">
            <li class="skill">
              <img src="icons/vite.svg" alt="" class="icon" />
              <span class="skill-name">Vite</span>
              <span class="skill-level">Bases</span>
            </li>
            <li class="skill">
              <img src="icons/vscode.svg" alt="" class="icon" />
              <span class="skill-name">VSCode</span>
              <span class="skill-level">Avancé</span>
            </li>
            <li class="skill">
              <img src="icons/Git.svg" alt="" class="icon" />
              <span class="skill-name">Git</span>
              <span class="skill-level">Moyen</span>
            </li>
            <li class="skill">
              <img src="icons/jest.svg" alt="" class="icon" />
              <span class="skill-name">Jest</span>
              <span class="skill-level">Moyen</span>
            </li>
            <li class="skill">
              <img src="icons/python.svg" alt="" class="icon" />
              <span class="skill-name">Python</span>
              <span class="skill-level">Avancé</span>
            </li>
            <li class="skill">
              <img src="icons/django.svg" alt="" class="icon" />
              <span class="skill-name">Django</span>
              <span class="skill-level">Moyen</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
  <div id="my-resume">
    <h2 class="categorie">Mon parcours</h2>
    <div class="description--list">
      {cursus.map((elem) => <CursusCard {...elem} />)}
    </div>
  </div>
  <div id="my-projects">
    <h2 class="categorie">Mes projets</h2>
    <div
      class="my-projects__container d-flex flex-wrap flex-row justify-content-between mt-1"
    >
      {projects.map((elem) => <ProjectCard {...elem} client:load />)}
    </div>
  </div>
  <footer id="contact-me" class="mt-5">
    <h2 class="categorie">Contactez moi</h2>
    <div class="d-flex justify-content-evenly">
      <a href="mailto:clement.pivot@gmail.com">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="icon"
        >
          <path
            d="M498.1 5.6c10.1 7 15.4 19.1 13.5 31.2l-64 416c-1.5 9.7-7.4 18.2-16 23s-18.9 5.4-28 1.6L284 427.7l-68.5 74.1c-8.9 9.7-22.9 12.9-35.2 8.1S160 493.2 160 480l0-83.6c0-4 1.5-7.8 4.2-10.8L331.8 202.8c5.8-6.3 5.6-16-.4-22s-15.7-6.4-22-.7L106 360.8 17.7 316.6C7.1 311.3 .3 300.7 0 288.9s5.9-22.8 16.1-28.7l448-256c10.7-6.1 23.9-5.5 34 1.4z"
            fill="currentColor"
          >
          </path>
        </svg>
        Par Email
      </a>
      <Contact />
    </div>
  </footer>

  <style>
    :root {
      --profile-picture-size: 260px;
      --secondary-background-color: #fff;
      --secondary-font-color: #000;
      --ternary-font-color: #666;
    }
    .text-justify {
      text-align: justify;
    }
    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      @media screen and (max-width: 400px) {
        font-size: 3rem;
      }
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .hero {
      gap: 10%;
      display: flex;
      @media screen and (max-width: 425px) {
        display: grid;
        grid-template-areas:
          'profil profil'
          'github linkedin';
        justify-items: center;
        gap: 10px;
      }
      a:first-of-type {
        grid-area: github;
      }
      a:last-of-type {
        grid-area: linkedin;
      }
      div {
        grid-area: profil;
      }
    }
    .picture__profile {
      width: var(--profile-picture-size);
      height: var(--profile-picture-size);
      min-width: var(--profile-picture-size);
      border-radius: 25%;
      overflow: hidden;
      img {
        width: var(--profile-picture-size);
        height: var(--profile-picture-size);
      }
    }
    .categorie {
      text-align: center;
      font-size: 24px;
      margin: 10px auto 10px;
    }

    .my-projects__container {
      row-gap: 20px;
      .project-card {
        margin: auto;
      }
    }

    .icon {
      width: 64px;
      height: 64px;
    }

    #my-skills {
      /* gap: 10px; */
      .list-name {
        color: var(--ternary-font-color);
        text-align: center;
      }
      .highlight {
        background-color: var(--secondary-background-color);
        /* margin: 10px; */
      }
      .description {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        padding: 0;
        justify-content: space-around;
        .skill {
          display: flex;
          flex-flow: column wrap;
          align-items: center;
          width: 92px;
        }
        .skill-name {
          display: block;
          text-align: center;
          color: var(--secondary-font-color);
        }
        .skill-level {
          color: var(--ternary-font-color);
        }
      }
    }
  </style>
</Layout>
