---
import Layout from '../layouts/Layout.astro'
import Nav from '../layouts/Nav.astro'
---

<Layout title="Portfolio">
  <Nav />
  <main>
    <h1>Bonjour, je suis <span class="text-gradient">Clément Pivot</span></h1>
    <div class="picture__profile">
      <img alt="Mon portrait" src="/photo_pro.jpg" />
    </div>
  </main>
</Layout>

<style>
  :root {
    --profile-picture-size: 260px;
  }
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
  .picture__profile {
    width: var(--profile-picture-size);
    height: var(--profile-picture-size);
    min-width: var(--profile-picture-size);
    border-radius: 25%;
    overflow: hidden;
    img {
      width: var(--profile-picture-size);
      height: var(--profile-picture-size);
      /* transform-origin: top; */
      /* transform: scale(1.5); */
    }
  }
</style>
