---
interface Props {
  icon: string
  text: string
  href: string
}

const { icon, text, href } = Astro.props
---

<div class="rounded-2xl">
  <a
    href={href}
    class="flex size-36 scale-100 flex-col items-center justify-between rounded-2xl p-4 text-black transition-all duration-500 hover:scale-125"
  >
    <Fragment set:html={icon} />
    {text}
  </a>
</div>

<style>
  a {
    background-image: var(--accent-gradient);
    background-size: 400%;
    overflow-wrap: anywhere;
    svg {
      height: 4rem;
      width: 4rem;
    }
  }
</style>
