---
interface Props {
  title: string
  time: string
  description: string
  points: string[]
}

const { title, time, description, points } = Astro.props
---

<li class="cursus-card p-0 pb-3 pl-3 last:pb-0">
  <h4 class="mb-1 text-xl font-bold">{title}</h4>
  <p class="mb-1 text-lg font-medium">{time}</p>
  <p class="">{description}</p>
  <ul class="cursus-card__points">{points.map(point => <li>{point}</li>)}</ul>
</li>

<style>
  .cursus-card {
    position: relative;
    border-left: 1px solid #fff;
    h4 {
      line-height: 100%;
    }
  }
  .cursus-card::before {
    content: "";
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #fff;
    position: absolute;
    left: -9px;
    top: 0;
    border-radius: 50%;
  }
</style>