---
interface Props {
  title: string
  time: string
  description: string
}

const { title, time, description } = Astro.props
---

<div class="cursus-card p-2">
  <p class="mb-1 text-xl font-bold">{title}</p>
  <p class="mb-1 text-lg font-medium">{time}</p>
  <p class="">{description}</p>
</div>
