---
type Props = {
  src: string
  name: string
  level: string
}

const { src, name, level } = Astro.props
---

<li class="skill flex w-20 flex-col flex-wrap items-center">
  <img src={src} alt="" class="icon text-white" />
  <span class="skill-name block text-center font-semibold text-white"
    >{name}</span
  >
</li>
