---
type Props = {
  src: string
  name: string
  level: string
}

const { src, name, level } = Astro.props
---

<li class="skill flex w-20 flex-col flex-wrap items-center">
  <img src={src} alt="" class="icon" />
  <span class="skill-name block text-center">{name}</span>
  <span class="skill-level">{level}</span>
</li>

<style>
  .skill-name {
    color: var(--secondary-font-color);
  }
  .skill-level {
    color: var(--ternary-font-color);
  }
</style>
