---
interface Props {
  icon: string
  name: string
}

const { icon, name } = Astro.props
---

<div class="softskill-card col mx-1 d-flex p-1 justify-content-center">
  <Fragment set:html={icon} />
  <div class="ms-2">{name}</div>
</div>

<style>
  .softskill-card {
    background-color: blueviolet;
    border-radius: 10px;
    svg {
      width: 32px;
      height: 32px;
      color: #fff;
    }
  }
</style>
