---
interface Props {
  icon: string
  name: string
}

const { icon, name } = Astro.props
---

<div class="softskill-card mx-1 flex w-full justify-center p-2">
  <Fragment set:html={icon} />
  <div class="ms-2 text-xl font-semibold">{name}</div>
</div>

<style>
  .softskill-card {
    background-color: blueviolet;
    border-radius: 10px;
    svg {
      width: 32px;
      height: 32px;
      color: var(--secondary-background-color);
    }
  }
</style>
