---
interface Props {
  icon: string
  name: string
}

const { icon, name } = Astro.props
---

<div
  class="softskill-card mx-1 flex w-full items-center justify-center overflow-hidden rounded-full p-2"
>
  <Fragment set:html={icon} />
  <span class="ms-2 text-xl font-semibold">{name}</span>
</div>

<style>
  .softskill-card {
    background: linear-gradient(145deg, #4f1981, #942ef2);
    box-shadow:
      inset 10px 10px 10px rgba(0, 0, 0, 0.2),
      inset -10px -10px 10px rgba(255, 255, 255, 0.2);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
    svg {
      width: 32px;
      height: 32px;
      color: var(--secondary-background-color);
      filter: drop-shadow(5px 5px 5px #000);
    }
  }
</style>
