---
import SoftSkillCard from '../components/SoftSkillCard.astro'

import lightbulb from './public/icons/lightbulb.svg?raw'
import thumbstack from './public/icons/thumbstack.svg?raw'
import bugslash from './public/icons/bugslash.svg?raw'

const age =
  new Date(
    new Date().getTime() - new Date(1992, 12, 5).getTime()
  ).getFullYear() - 1970
---

<section>
  <h2 class="categorie">À propos de moi</h2>
  <div
    class="flex justify-evenly flex-wrap gap-y-4 md:flex-nowrap mb-4 w-4/5 md:w-full mx-auto"
  >
    <SoftSkillCard icon={lightbulb} name="Autonome" />
    <SoftSkillCard icon={thumbstack} name="Persévérant" />
    <SoftSkillCard icon={bugslash} name="Résolution de problèmes" />
  </div>
  <p class="w-4/5 mx-auto md:w-full">
    Depuis le lycée l'informatique me passionne et j'ai commencé par suivre les
    cours du Site du Zéro pour apprendre le C++. À {age} ans, je suis actuellement
    en train d'obtenir mon diplôme de développeur React d'OpenClassrooms. Suite à
    un BTS Services Informatiques aux Organisations, j'ai acquéri diverses compétences
    en développement.
    <!-- Développeur informatique polyvalent spécialisé en création d’applications
    web surtout en React. Compétent dans les technologies front-end modernes
    et passionné par la création d’expériences utilisateurs fluides et interactives.
    -->
  </p>
</section>
