---
import ContactForm from '../layouts/ContactForm.astro'
import ContactButton from '../components/ContactButton.astro'
import email from '../../public/icons/email.svg?raw'
import phone from '../../public/icons/phone.svg?raw'
---

<footer id="contact-me" class="my-5">
  <h2 class="categorie">Contactez moi</h2>
  <div class="row flex justify-evenly">
    <ContactButton icon={email} text="Par email" />
    <ContactButton icon={phone} text="Par téléphone" />
    <!-- <ContactForm /> -->
  </div>
</footer>
