---
import hardskills from '../../public/hardskills.json'
import HardSkillIcon from '../components/HardSkillIcon.astro'
---

<section
  id="my-skills"
  class="mx-auto grid min-h-screen w-4/5  grid-cols-1 place-content-center md:w-2/3"
>
  <h2 class="categorie w-full">Mes compétences</h2>
  <div class="flex w-full flex-col md:flex-row md:gap-10">
    <div
      class="rounded-2xl bg-violet-500 bg-opacity-25 backdrop-blur mx-auto md:p-3"
    >{Object.values(hardskills).map((list) =>
      <ul
        class="flex justify-center gap-3 p-3"
      >{list.map(e =>
            <HardSkillIcon src={e.src} name={e.name} level={e.level} />
          )}</ul>)}
      </ul>
    </div>
</section>
