---

---

<header class="flex items-center flex-col">
  <h1 class="my-5">
    Bonjour, je suis <br />
    <span class="text-gradient">Clément Pivot</span>
    <br />développeur web
  </h1>
  <div class="hero justify-content-center align-items-center container-fluid">
    <a href="https://github.com/malfeitor/" target="_blank">
      <img src="icons/github.svg" alt="Mon profil GitHub" class="icon" />
    </a>
    <div class="picture__profile">
      <img alt="Mon portrait" src="./photo_pro.jpg" />
    </div>
    <a href="https://www.linkedin.com/in/clement-pivot/" target="_blank">
      <img src="icons/linkedin.svg" alt="Mon profil Linkedin" class="icon" />
    </a>
  </div>
</header>

<style>
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    @media screen and (max-width: 400px) {
      font-size: 3rem;
    }
  }

  .picture__profile {
    width: var(--profile-picture-size);
    height: var(--profile-picture-size);
    min-width: var(--profile-picture-size);
    border-radius: 25%;
    overflow: hidden;
    img {
      width: var(--profile-picture-size);
      height: var(--profile-picture-size);
    }
  }

  .hero {
    gap: 10%;
    display: flex;
    @media screen and (425px <= width) {
      display: grid;
      grid-template-areas:
        'profil profil'
        'github linkedin';
      justify-items: center;
      gap: 10px;
    }
    a:first-of-type {
      grid-area: github;
    }
    a:last-of-type {
      grid-area: linkedin;
    }
    div {
      grid-area: profil;
    }
  }
</style>
