---

---

<header class="flex items-center flex-col">
  <h1 class="my-5">
    Bonjour, je suis <br />
    <span class="text-gradient">Clément Pivot</span>
    <br />développeur web
  </h1>
  <div class="hero justify-content-center align-items-center container-fluid">
    <a href="https://github.com/malfeitor/" target="_blank">
      <img src="icons/github.svg" alt="Mon profil GitHub" class="icon" />
    </a>
    <div class="picture__profile">
      <img alt="Mon portrait" src="./photo_pro.jpg" />
    </div>
    <a href="https://www.linkedin.com/in/clement-pivot/" target="_blank">
      <img src="icons/linkedin.svg" alt="Mon profil Linkedin" class="icon" />
    </a>
  </div>
</header>
