---
import github from '../../public/icons/github.svg?raw'
import linkedin from '../../public/icons/linkedin.svg?raw'
---

<header class="flex flex-col">
  <h1
    class="mx-auto my-5 mb-10 w-full text-center text-6xl font-bold md:w-full md:text-8xl"
  >
    Bonjour, je suis
    <span class="text-gradient">Clément Pivot</span>
    développeur web
  </h1>
  <div class="hero grid items-center justify-center justify-items-center gap-2">
    <a
      href="https://github.com/malfeitor/"
      target="_blank"
      aria-label="Mon profil GitHub"
    >
      <Fragment set:html={github} />
    </a>
    <div class="picture__profile h-64 w-64 overflow-hidden rounded-3xl">
      <img alt="Mon portrait" src="./photo_pro.jpg" class="h-64 w-64" />
    </div>
    <a
      href="https://www.linkedin.com/in/clement-pivot/"
      target="_blank"
      aria-label="Mon profil LinkedIn"
    >
      <Fragment set:html={linkedin} />
    </a>
  </div>
</header>

<style>
  .hero {
    grid-template-areas:
      'profil profil'
      'github linkedin';
    svg {
      width: 64px;
      height: 64px;
    }
    @media screen and (425px < width) {
      grid-template-areas: 'github profil linkedin';
    }
    a:first-of-type {
      grid-area: github;
    }
    a:last-of-type {
      grid-area: linkedin;
    }
    div {
      grid-area: profil;
    }
  }
</style>
