<nav>
  {
    Astro.url.pathname.split('/')[1] === '' ? (
      <a href="/projects">Projets</a>
    ) : (
      <a href="/">Accueil</a>
    )
  }
</nav>

<style>
  nav {
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    a {
      font-size: 24px;
      font-weight: 800;
      color: azure;
    }
  }
</style>
