---
import projects from '../../public/projects.json'
import { ProjectCard } from '../components/ProjectCard/index.tsx'
---

<div
  id="my-projects"
  class="grid min-h-screen snap-start grid-cols-1 place-content-center"
>
  <h2 class="categorie">Mes projets</h2>
  <div
    class="mt-1 grid grid-cols-[repeat(auto-fit,minmax(15rem,1fr))] justify-items-center gap-y-4"
  >
    {projects.map((elem) => <ProjectCard {...elem} client:load />)}
  </div>
</div>
