---
import projects from '../../public/projects.json'
import { ProjectCard } from '../components/ProjectCard/index.tsx'
---

<div id="my-projects">
  <h2 class="categorie">Mes projets</h2>
  <div
    class="my-projects__container flex flex-wrap flex-row justify-content-between mt-1"
  >
    {projects.map((elem) => <ProjectCard {...elem} client:load />)}
  </div>
</div>

<style>
  .my-projects__container {
    row-gap: 20px;
    .project-card {
      margin: auto;
    }
  }
</style>
