---
import cursus from '../../public/cursus.json'
import CursusCard from '../components/CursusCard.astro'
---

<div id="my-resume">
  <h2 class="categorie">Mon parcours</h2>
  <div class="description--list">
    {cursus.map((elem) => <CursusCard {...elem} />)}
  </div>
</div>
